.controller {
  padding-right: 1em;
  .controller-inner {
    text-align: center;
    .btn {
      border: none;
    }
    > button {
      width: 100%;
    }
    > .position {
      cursor: default;
    }
  }
}
