.timeline {
  position: relative;

  > .timeline-progress {
    position: relative;
    overflow: hidden;
    height: 100px;
    background-color: #f5f5f5;
    cursor: pointer;
    > .timeline-bar {
      float: left;
      width: 0%;
      height: 100%;
      font-size: 12px;
      line-height: 20px;
      color: #fff;
      text-align: center;
      background-color: #337ab7;
      z-index: 1;
    }
    > .timeline-cursor {
      position: absolute;
      height: 100%;
      width: 1px;
      z-index: 2;
    }
  }

  > .waveform {
    position: absolute;
    height: 50px;
    top: -50px;
    width: 100%;
    > img {
      width: 100%;
      height: 100%;
    }
  }

  > .segments {
    > .segments-row {
      font-size: 10px;
      line-height: 1.2;
      &:first-child {
        border-top: none;
      }
      border-top: 2px solid black;
      position: relative;
      width: 100%;
      > .segment {
        &:hover, &:focus {
          text-decoration: none;
        }
        &, * {
          cursor: pointer;
        }
        color: #fff;
        position: absolute;
        display: inline-block;
        overflow: hidden;
        > .segment-text {
          padding: 5px;
          display: block;
          position: relative;
          z-index: 2;
        }
        > .segment-progress {
          position: absolute;
          height: 100%;
          z-index: 1;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

