@import 'include/bootstrap';
@import 'include/glyphicons';

.bottom-row {
  position: absolute;
  bottom: 0;
  display: table;
  width: 100%;
  margin: 0;
  > * {
    height: 100%;
    display: table-cell;
    vertical-align: top;
  }
  > .controller {
    width: 120px;
  }
}

@import 'controller';

@import 'timeline';
