@import 'variables';
@import 'include/bootstrap';
@import 'include/glyphicons';
@import 'fonts';

html {
  height: 100%;
}
body {
  font-size: 14px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.top-row, .bottom-row {
  padding: 0 10px;
}

.col-left {
  width: 120px;
}

.bottom-row, .central-row {
  display: table;
  width: 100%;
  > * {
    height: 100%;
    display: table-cell;
    vertical-align: top;
  }
  > .controller {
    width: 120px;
  }
}

.bottom-row {
  position: absolute;
  bottom: 0;
}

.central-row {
  margin-top: 5em;
}

@import 'controller';
@import 'timeline';
@import 'loading';
@import 'popups';
@import 'technical-info';
