@import 'include/bootstrap';
@import 'include/glyphicons';

.bottom-row {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  > * {
    height: 100%;
  }
  .controller {
    padding-right: 1em;
    > button {
      width: 100%;
    }
    float: left;
    width: 120px;
  }
}

@import 'timeline'
